* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f32730;
    color: white;
}

.timer {
    text-align: center;
}

button{

    background-color: #a73e3e;
    border: none;
    border-radius: 5px;
    width: 8%;
    height: 35px;
    color: white;
    cursor: pointer;
}

button:hover, button.active{

    background-color: white;
    color: #a73e3e;
}

.timer-display {
    font-size: 4rem;
    margin-top: 20px;
    font-weight: bold;
}


#title {
    grid-area: h;
    text-align: center;
    justify-self: stretch;
    font-size: 5rem;
}

nav{
    display: grid;
    grid-template-areas: ". h b";
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: stretch;
    align-items: center;
    width:100%;
    height: 10%;
    margin-bottom: 50px ;
}

#LogOut{
    grid-area: b;
    background-color: white;
    color: #e05151;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: medium;
    margin: 10px;
    padding: 10px;
    max-height: 50px;
    justify-items: stretch;
    width: 50%;
}
