.search-box{
    display: flex;
    align-items: center;
}

.search-box input{
    width: 85%;
    text-transform: capitalize;
    padding: 10px 6px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(5, 5, 5, 0.3);
}

.search-box button{
    width: 25px;
    height: 25px;
    margin-left: 6%;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: url('image/lente.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.weather-body{
    display: flex;
    justify-content: space-between;
}

.weather-body img{
    width: 30%;
}

.weather-box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
}

.weather-box .temperature{
    margin: 0px;
}

.weather-box .description{
    text-transform: capitalize;
    margin: 0px;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 18px;
    margin: 0px;
}
.location-not-found img{
    width: 52%;
}

#city {
    text-align: center;
    text-transform: capitalize;
    margin: 20px;
}

.meteo-widget {
    padding-bottom: 0px;
}

@media (max-width: 768px) {

    .weather-body img{
        width: 30%;
    }

    #city {
       font-size: 20px;
       margin-bottom: 30px;
    }

    .temperature {
        font-size: 18px;
    }
    
}
